.home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 0 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.home-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home-buttons .button {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    margin-right: 10px;
}

button:last-child {
    margin-right: 0;
}


@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    .home-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .home-buttons .button {
        width: 100%;
    }
}