/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables globales */
:root {
  --primary-color: #F8A912; /* Un orange/jaune pour les boutons et liens */
  --secondary-color: #FFB74D; /* Variante plus claire pour les hover ou autres effets */
  --background-color: #1c1c1c; /* Fond gris foncé/noir */
  --text-color: #f0f0f0; /* Texte en blanc */
  --accent-color: #E6E6E6; /* Couleur des sous-titres ou du texte plus subtil */
  --font-family: 'Inter', sans-serif;
}

/* Style général */
html, body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

/* Typographie globale */
/* Titres */
h1, h2, h3, h4, h5 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.1rem;
  color: var(--accent-color);
  margin-bottom: 1.5rem;
}

/* Liens */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}
